
.bigcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    padding: 60px;
    gap: 40px;
    justify-content: center;
    /* background-color: rgb(210, 255, 240); */
}
.container2 {
    /* padding: 5px; */
    position: relative;
    overflow: hidden;
    background-color: #ffffff;   
    border: 1px solid rgb(209, 213, 213);
    border-bottom: 3px solid blue;
    /* border-width: 50px; */
    border-radius: 4px;
    width: 200px;
    height: 160px;
    text-align: center;
}
.categoryURL img{
   height: 100px;
   width: 200px;
   z-index: 5;
}
.h3-head{
    z-index: 10;
    background: linear-gradient(to top , rgba(0, 0, 0, 0.9), rgba(14, 14, 221, 0.4));
   height: 100px;
   width: 200px;
   position: absolute;
   top: 0px;
}
.categoryURL h3{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
   color: #ffffff;
}
.Explore {
    position: absolute;
    right: 15px;
    bottom: 0;
    padding: 6px 16px;
 background-color: blue;
 border: 2px solid blue;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
  }
.Explore:hover {
     background-color: white;
     color: blue;

    }
  