@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    height: 60px;
    overflow: hidden;
    background-color: #0a0338;
  }
  
 .nav ul li {
    float: right;
    font-size: 1.1em;
  }
  
  .a {
    display: block;
    color: rgb(0, 255, 247);
    text-align: center;
    /* padding: 20px 16px; */
    padding: 25px 16px;
    text-decoration: none;
  }
  .logo{
     height: 50px;
     width: 50px;
  }
  .heading{
     width: 400px;
     background-color:  rgb(8, 0, 55);
     display: flex;
    justify-content: center;
    gap: 30px;
    color: white;
    align-items: center;
    font-size: 1.3em;
  }
  .nav{
    margin: 0;
    padding: 0;
    height: 70px;
    /* overflow: hidden; */
    background-color: #090138;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
  }
 
  .footer{
    background-color: #0a0338;
    color: white;
    position: relative;
    bottom: 0;
  }

  .footertop{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-left: 30px;
    gap: 20px;
    padding-top: 20px;
    /* margin-top:400px; */
    margin-bottom:30px;
  }

  .footertop h3{
    text-align: center;
  }

  .footerbot{
    border-top: 1px solid white;
  }

  .left{
    flex: 1;
  }

  .mid{
    flex: 1;
  }

  .right{
    flex: 1;
  }

  .logox{
    width: 60%;
    height: 75%;
  }

  .abc{
    color: rgb(0, 255, 247);
    text-decoration: none;
  }

  .footer ul{
    list-style-type: none;
    padding-left: 30%;
  }

  .footer ul li{
    padding-top: 5px;
  }

  .icon{
    padding-right: 10px;
  }

  .footerbot{
    border-top: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bot1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .bot1 div{
    padding-right:20px;
  }